@model SwiftMove.Models.AdminDashboardViewModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Administrator Dashboard</h1>
<p>Manage all staff and admin function from this page, use the forms provided below to interact with database.</p>

<h2>Manage Services</h2>
<a class="btn btn-custom w-50" asp-controller="Services" asp-action="Create">Add New Service</a>
<h3>Current Services</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">No. of Staff</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var services in Model.Services)
        {
            <tr>
                <td class="fw-bold">@services.Id</td>
                <td class="fw-bold">@services.Title</td>
                <td class="fw-bold">@services.Price</td>
                <td class="fw-bold">@services.NumStaffRequired</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@services.Id" class="btn btn-warning">Edit</a>
                    <a onclick="confirmDelete(@services.Id)" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

<script>
    function confirmDelete(id){
        //Outputs message to user
        if(confirm("Are you sure you would like to delete this Service - It Can't Be Undone?")){
            //Post request
            fetch(`/Services/Delete/${id}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(response => {
                if(response.ok){
                    window.location.reload();
                } else {
                    alert("Failed toolbar Delete Service.")
                }
            });
        }
    }
</script>