@model IEnumerable<SwiftMove.Models.ServicesModel> //Expect to be sent a list of property models
@{
    ViewData["Title"] = "Services";
}

<h1>Available Services</h1>
<h5>Below is the list of all our services we currently have to offer</h5>

<div class="container mt-5">
    <div class="row">
        @foreach (var services in Model)
        {
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="@Url.Content("~/Images/" + services.Image)" alt="@services.Title" class="card-img-top cardimg">
                    <div class="card-body">
                        <h5 class="card-title">@services.Title</h5>
                        <p class="card-text">@services.Description</p>
                    </div>

                    <h4 class="ps-3">£@services.Price</h4>
                    <div class="card-body">
                        <a class="btn btn-custom" asp-action="Details" asp-route-id="@services.Id">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>