@model IEnumerable<SwiftMove.Models.ServicesModel> //Expect to be sent a list of property models
@{
    ViewData["Title"] = "Services";
}
<div class="container1 justify-content-center" style="max-width: 2000px">
    <div class="container text-start pt-5 pb-4">
        <h1 class="container text-white h1a ">Services</h1>
    </div>
</div>
<div class=" !important" ">
    <h5 >Below is the list of all our services we currently have to offer</h5>
</div>


<div class="container ">
    <div class="row">
        @foreach (var services in Model)
        {
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="@Url.Content("~/Images/" + services.Image)" alt="@services.Title" class="card-img-top cardimg">
                    <div class="card-body">
                        <h5 class="card-title">@services.Title</h5>
                        <p class="card-text">@services.Description</p>
                    </div>

                    <h4 class="ps-3">£@services.Price</h4>
                    <div class="card-body">
                        <a class="btn btn-custom" asp-action="Details" asp-route-id="@services.Id">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>